# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
health_record/   # your venv folder

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log